h1,h2 {
    color: forestgreen;
    font-family: sans-serif;
}

body {
    font-size: 20px;
    margin:0px;
    background-color: ghostwhite;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 2px solid black;
    padding: 3px;
    background-color: #ECECF2;
}

td.empty {
    background-color: #ddd;
}

.container {
    margin: 0 auto;
    padding: 5px;
    max-width: 1200px;
}