html {
	text-align: center;
	font-family: courier;
	position: relative;
	top: 50%;
	transform: 			translateY(-50%);
}
a {
	text-decoration: none;
}
ul {
    width: 13%;
    margin: auto;
}
li{
	text-align:left;
}
img{
	max-width: 100%;
	height: auto;
	min-width: 50%;
}
footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}